<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <header>
    <h1><%= title %></h1>
  </header>
  <nav>
    <span><a title="主页" href="/">HOME</a></span>
    <% if (user){ %>
    <span><a title="上传" href="/upload">UPLOAD</a></span>
    <span><a title="发表" href="/post">POST</a></span>
    <span><a title="登出" href="/logout">LOGOUT</a></span>
    <% } else { %>
    <span><a title="登陆" href="/login">LOGIN</a></span>
    <span><a title="注册" href="/reg">REGISTER</a></span>
    <% } %>
  </nav>
  <article>
  <% if (success) { %>
    <div> <%= success %> </div>
  <% } %>
  <% if (error) { %>
    <div> <%= error %> </div>
  <% } %>
